* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cheesarella_gray: #303030;
  --cheesarella_white: white;
  --cheesarella_red: #be0c29;
  --cheesarella_red_dark: #9a0a22;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

button:disabled {
  cursor: not-allowed;
  color: #9d9d9d;
  color: var(--cheesarella_white);
}
